Repository DrBalls/etsy-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: app: web, app: api, app: extension, app: desktop, package: shared, documentation, dependencies, github-actions, config, test

.github/labeler.yml:

# Add labels to PRs based on file changes

'app: web':
  - apps/web/**/*

'app: api':
  - apps/api/**/*

'app: extension':
  - apps/extension/**/*

'app: desktop':
  - apps/desktop/**/*

'package: shared':
  - packages/shared/**/*

documentation:
  - '**/*.md'
  - docs/**/*

dependencies:
  - package.json
  - pnpm-lock.yaml
  - '**/package.json'

github-actions:
  - .github/**/*

config:
  - turbo.json
  - tsconfig.json
  - .eslintrc.js
  - .prettierrc
  - '**/.eslintrc.js'
  - '**/tsconfig.json'

test:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**/*'
  - '**/test/**/*'
  - '**/__tests__/**/*'

fix: Remove Zone.Identifier files and add to .gitignore
  .gitignore
  .taskmaster/config.json:Zone.Identifier
Labels: none

chore: Remove accidentally committed screenshot file
  Screenshot 2025-07-31 140655.png
Labels: none

feat: Add Windows PowerShell deployment script
  deploy-windows.ps1
Labels: none

fix: Correct PowerShell syntax errors in Windows deployment script
  deploy-windows.ps1
Labels: none

feat: Add simple Windows batch deployment script
  deploy-windows.bat
Labels: none

feat: Add simplified PowerShell deployment script
  deploy-simple.ps1
Labels: none

fix: Fix TypeScript async return type in etsy-api-client.ts
  packages/shared/src/api/etsy-api-client.ts
Labels: package: shared

fix: Fix TypeScript async return type in etsy-api-client-v2.ts
  packages/shared/src/api/etsy-api-client-v2.ts
Labels: package: shared

fix: Add ioredis as devDependency for type declarations
  packages/shared/package.json
Labels: package: shared, dependencies

fix: Resolve TypeScript and ESLint errors in redis-cache-provider
  packages/shared/src/api/redis-cache-provider.ts
  pnpm-lock.yaml
Labels: package: shared, dependencies

fix: Comprehensive TypeScript build fixes for shared package
  packages/shared/.eslintrc.js
  packages/shared/src/api/sdk/index.ts
  packages/shared/src/api/sdk/inventory.ts
  packages/shared/src/api/sdk/orders.ts
  packages/shared/src/api/sdk/shipping.ts
  packages/shared/src/api/sdk/shops.ts
  packages/shared/src/api/sdk/taxonomy.ts
  packages/shared/src/api/sdk/user.ts
  packages/shared/src/types/etsy-types.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/missing-types.ts
Labels: package: shared, config

fix: Resolve remaining TypeScript declaration build errors
  packages/shared/src/api/sdk/index.ts
  packages/shared/src/types/etsy-api.ts
  packages/shared/src/types/missing-types.ts
Labels: package: shared

fix: Resolve inventory TypeScript errors
  packages/shared/src/api/sdk/inventory.ts
  packages/shared/src/types/missing-types.ts
Labels: package: shared

fix: add type annotation for filter parameter
  apps/web/app/api/bulk/action/[action]/route.ts
Labels: app: web
